.padding-bottom-30 {
    padding-bottom: 30px !important;
}

.padding-bottom-30 {
    padding-bottom: 30px !important;
}
.padding-right-30 {
    padding-right: 30px !important;
}
.padding-left-30 {
    padding-left: 30px !important;
}