.padding-bottom-30 {
    padding-bottom: 30px !important;
}

.padding-bottom-30 {
    padding-bottom: 30px !important;
}
.padding-right-30 {
    padding-right: 30px !important;
}
.padding-left-30 {
    padding-left: 30px !important;
}


@media (max-width:575px){
    .font-sm-18{
        font-size: 18px;
    }
    .font-sm-15{
        font-size: 15px;
    }
}

@media (max-width:767px){
    .font-sm-18{
        font-size: 18px;
    }
    .font-sm-14{
        font-size: 14px;
    }
}

@media (max-width:991px){
    
}

a{
    text-decoration: none;
}